{% extends 'base/layout.html' %}
{% block content %}
<main class="contact_us">
    <header>
        <h1>📬 Contact Us</h1>
        <h2>💬 We’d love to connect</h2>
        <p>📢 If you have questions, feedback, or partnership inquiries, feel free to reach out. UniSphere is here to support your global student journey. 🌍</p>
    </header>

    <!-- Contact Information Section -->
    <div class="contact-info">
        <div class="contact-name">
            <h3>👤 Name</h3>
            <p>Atharva Gangrade</p>
            <h3>✉️ Email</h3>
            <p>atharva.unisphere@gmail.com</p>
        </div>
        <div class="contact-name">
            <h3>👤 Name</h3>
            <p>Janvi Gandhi</p>
            <h3>✉️ Email</h3>
            <p>janvi.unisphere@gmail.com</p>
        </div>
        <div class="contact-name">
            <h3>👤 Name</h3>
            <p>Hafsa Konain</p>
            <h3>✉️ Email</h3>
            <p>hafsa.unisphere@gmail.com</p>
        </div>
        <div class="contact-address">
            <h3>📍 Contact Address</h3>
            <p>University of North Carolina at Charlotte<br>9201 University City Blvd, Charlotte, NC 28223</p>
        </div>
    </div>
</main>
{% endblock %}

